.buyButtonText--boton-compra {
  font-size: 0;
}

.buyButtonText--boton-compra::before {
  content  : "Comprar ahora";
  display  : block;
  font-size: 1rem;
}

.productDescriptionText {
  color      : #1c1c1c;
  font-size  : 85%;
  font-weight: 400;
}

.specificationsTitle {
  font-size     : 24.5px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.35;
  letter-spacing: normal;
  text-align    : left;
  color         : #1c1c1c;
}

.productDescriptionTitle {
  font-size     : 24.5px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.35;
  letter-spacing: normal;
  text-align    : left;
  color         : #1c1c1c;
}