.FooterContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}
.flexRow--FooterContainer {
  padding-top: 15px;
  background-color: #1c1c1c;
}
.vtex-flex-layout-0-x-flexRowContent--FooterContainer.items-stretch.w-10 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.flexRowContent--FooterContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  width: 93%;
  border-bottom: solid white 2px;
}
.flexColChild--footer__col--five {
  padding-left: 25%;
}
.flexRowContent--footer__section--creditos {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
  padding: 0;
}
.flexRowContent--footer-payments-top {
  align-items: center;
  display: flex;
}
.flexColChild--footer__col--two {
  height: fit-content !important;
}
.flexColChild--footer__container--socialNetworks--icon-facebook {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  padding-right: 8px;
}
.flexCol--footer__container--socialNetworks--icon-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow--footer__container--social-facebook {
  width: fit-content;
}
.flexColChild--footer__container--col-socials {
  height: fit-content !important;
}

.flexRowContent--footer__container--social-instagram {
  width: fit-content;
}
.flexColChild--footer__container--socialNetworks--icon-instagram {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  padding-right: 8px;
}

.flexRow--minicart--summary {
  box-shadow: 0 0 12px rgb(0 0 0 / 15%);
}
.flexRowContent--minicart--summary {
  flex-direction: column;
}
.flexColChild--checkoit-button :global(.vtex-button) {
  background-color: #f66602;
  border-color: #f66602;
}
.flexRow--col--Container-productlist {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* .flexColChild--col--info-productlist {
  padding-top: 1rem;
} */
.flexRow--flex-layout-rich--container {
  visibility: hidden;
}
.flexCol--filters--search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.flexRow--container--filters {
  max-width: 1226px;
  margin: 0 auto;
  width: 100%;
}
.flexRowContent--container-Search--content
  :global(.vtex-search-result-3-x-gallery) {
  padding-left: 0;
}
.flexRow--footer__section--creditos {
  background-color: #1c1c1c;
}
.flexRow--footer--Form--newsletter {
  max-width: 1400px;
  width: 91%;
  margin: 0 auto;
  padding: 42px 15px;
}
/* .flexRowContent--layout--container-inputs {
  border: solid red 2px;
} */

.flexRow--slider-productos-estrellas {
  margin-bottom: 3rem;
}
.flexRow--container--collage-productos-estrellas {
  /* max-width: 1350px; */
  width: 90%;
  margin: 0 auto;
}
.flexRow--contianer--collage-img-products {
  margin: 0 auto;
  padding: 10px 9px;
}
.flexRow--home__section--banner {
  margin: 0 auto;
  padding: 10px 9px;
}

.flexRow--container-info-contact--mobile {
  background-color: #1c1c1c;
}
.flexRowContent--row_one-collage-products {
  display: flex;
}
.flexRow--container-Search--content {
  /* width: 90%;
  margin: 3% auto;
  padding: 0 2%; */
  max-width: 1226px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.flexCol--filters--search--mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexColChild--filters--search--mobile
  :global(.vtex-search-result-3-x-totalProducts--layout) {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  min-width: 120px;
}
.flexColChild--filters--search--mobile
  :global(.vtex-search-result-3-x-totalProductsMessage) {
  color: #1c1c1c !important;
}
.flexRow--container-politicas-seccion-one {
  margin-right: 25px;
  margin-left: 25px;
}
.flexCol--container-politicas-seccion-tres {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  color: #1c1c1c;
}
.flexRow--Contenedor-info--general {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
.flexRow--Contenedor-miga-pan {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
.flexCol--contenedor-info--data {
  padding-left: 30px;
}
.flexRowContent--product-precio--rating {
  align-items: center;
}
.flexRowContent--product-precio--rating
  :global(.vtex-store-components-3-x-price_sellingPrice) {
  font-size: 19px !important;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff6900;
}
.flexRowContent--product-name :global(.vtex-store-components-3-x-productBrand) {
  font-size: 45px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 0.9; */
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c important!;
  /* font-size: 48px; */
  /* line-height: 17px; */
  color: #1c1c1c;
}
.flexRowContent--product-precio--rating
  :global(.vtex-reviews-and-ratings-3-x-star--empty) {
  color: #ff6900;
}

.flexRowContent--product-precio--rating
  :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  color: #ff6900;
}
.flexColChild--contenedor-info--data {
  height: min-content !important;
}
.flexRow--product-precio--rating {
  padding: 20px 0;
}
.flexRowContent--Container-politicas-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding: 15px 0;
  margin: 0;
}
.flexRowContent--totals-pdp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColChild--price-pdp
  :global(.vtex-store-components-3-x-price_sellingPriceContainer) {
  font-size: 37px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ff6900;
}
.flexRow--Container-bottom {
  margin: 20px 0;
}
.flexRowContent--Container-bottom :global(.vtex-button) {
  background-color: #f66602;
  border-color: #f66602;
}
.flexRow--Contenedor-info--general-description {
  margin: 40px auto;
  max-width: 1400px;
  width: 90%;
}
.flexCol--price-pdp
  :global(.vtex-store-components-3-x-price_listPriceContainer) {
  display: flex;
  font-size: 23px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: rgba(66, 66, 66, 0.5);
  text-decoration: line-through;
  justify-content: flex-end;
}
.flexRowContent--Contenedor-info--general-mobile {
  padding-top: 10px;
}
.flexRowContent--product-precio--rating-mobile
  :global(.vtex-reviews-and-ratings-3-x-summaryContainer) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexRowContent--product-precio--rating-mobile
  :global(.vtex-reviews-and-ratings-3-x-star--empty) {
  color: #ff6900;
}

.flexRowContent--product-precio--rating.mobile
  :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  color: #ff6900;
}
.flexRowContent--product-precio--rating-mobile
  :global(.vtex-store-components-3-x-price_sellingPrice) {
  font-size: 19px !important;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff6900;
}
.flexRowContent--product-name-mobile
  :global(.vtex-store-components-3-x-productNameContainer) {
  padding-bottom: 30px;
}
.flexRowContent--product-precio--rating-mobile
  :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  color: #ff6900;
}
.flexRowContent--container-info-contact--mobile {
  display: flex;
  flex-direction: column;
}
.flexRow--Container-slider-product {
  width: 100%;
  max-width: 1226px !important;
  margin: 0 auto;
  display: flex;
}
.flexCol--contenedor-menu-mas {
  display: flex;
  align-items: center;
}
.flexColChild--contenedor-menu-mas {
  display: flex;
  align-items: center;
}
.flexRowContent--product-precio--rating-mobile
  :global(.vtex-reviews-and-ratings-3-x-star--filled) {
  color: #ff6900;
}
.flexRowContent--product-precio--rating
  :global(.vtex-reviews-and-ratings-3-x-star--filled) {
  color: #ff6900;
}
