.suggestionsListPrefix {
  color: #1c1c1c !important;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 5px;
}
.suggestionsListLink {
  color: #1c1c1c !important;
  font-weight: 500;
  font-size: 1rem;
}
.itemListTitle {
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 400;
  font-family: ProximaNova, Arial, Sans-serif !important;
}
.biggy-autocomplete-wrapper {
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 37px;
}
.history-and-top-wrapper {
  display: flex;
  flex-direction: row-reverse !important;
}
.itemList--top-search {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 9%) !important;
}
.itemList--history {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 9%) !important;
}
.biggy-autocomplete {
  width: 80%;
  max-width: 1226px;
  margin: 0px auto;
  display: flex;
  position: static;
}
