.nameInputContainer--newsletter--input-name--desktop {
  width: 27%;
}
.newsletterForm--newsletter--form--desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nameInputContainer--newsletter--input-name--desktop
  :global(.vtex-input-prefix__group) {
  display: none;
}
.nameInputContainer--newsletter--input-name--desktop::before {
  content: "SIGAMOS EN CONTACTO";
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  padding-bottom: 5px;
}
.nameInputContainer--newsletter--input-name--desktop
  :global(.vtex-input__label) {
  max-width: 342px;
  padding-top: 5px;
}
