.input {
  background-color: transparent;
  border: none;
  padding: 10px;
}
.searchBarIcon--search {
  display: none;
}
.vtex-input__suffix {
  display: none;
}

.autoCompleteOuterContainer--header--section__one--serachbar {
  border: solid red 2px;
}
