.sliderLayoutContainer--home__slider {
  max-width: 100%;
  margin: 0 auto 30px;
}
.paginationDotsContainer--home__slider {
  transform: translateY(30px);
  display: none;
}
.imageElement--home__slider {
  max-height: initial !important;
}
.slideChildrenContainer--home__slider--products {
  background-color: #fff;
}
.slideChildrenContainer--home__slider--products:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
  transition: all 0.5s ease-in;
}
.slide--home__slider--products {
  /* margin: 0 0.7%;
  background-color: #fff; */
  padding: 12px;
}

.sliderTrack--home__slider--products {
  padding-bottom: 2rem;
}
.paginationDotsContainer--home__slider--productos--recomendados {
  display: none;
}
.slide--home__slider--productos--recomendados {
  /* width: 5% !important;
  background-color: #fff; */
  /* padding: 12px; */
}
.slideChildrenContainer--home__slider--productos--recomendados {
  background-color: #fff;
}
.slideChildrenContainer--home__slider--productos--recomendados:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
  transition: all 0.5s ease-in;
}
.caretIcon--home__slider--products {
  display: none;
}

.slide--home__slider--productos--recomendados-mobile {
  background-color: #fff;
  width: 9% !important;
  margin: 12px;
}
.paginationDotsContainer--home__slider--productos--recomendados-mobile {
  display: none;
}
.slide--home__slider--products-mobile {
  background-color: #fff;
  width: 9% !important;
  margin: 12px;
}
.sliderRightArrow--home__slider--products-mobile {
  display: none;
}
.sliderLeftArrow--home__slider--products-mobile {
  display: none;
}
.sliderLayoutContainer--home__slider--products-mobile {
  padding-bottom: 2.5rem;
}

.sliderLeftArrow--header__slider--products {
  display: none;
}
.sliderRightArrow--header__slider--products {
  display: none;
}
.paginationDotsContainer--header__slider--products {
  display: none;
}
.paginationDotsContainer--header__slider--products-mobile {
  display: none;
}
.slide--header__slider--products-mobile {
  width: 5% !important;
}
/* .sliderTrack--header__slider--products-mobile {
  width: 300% !important;
} */
.slide--home__slider--productos--recomendados-mobile
  :global(.vtex-product-summary-2-x-price_installmentContainer) {
  display: none;
}
.bullet__item--image {
  padding: 10px;

  width: 84px;
  height: auto;
  /* height: 100px; */
}
.bullet__item--Contenedor-imagen {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  line-height: 95px;
  /* background: #fff; */
  margin: 0 auto 8px auto;
  text-align: center;
  transition: transform 0.4s;
  -webkit-box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
}
.bullet__item--link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paginationDot--isActive {
  background-color: #ff3a3a;
}
.slide--home__slider--menu--productos {
  width: 5.2% !important;
}
.slide--home__slider--menu--productos--visible {
  width: 5.2% !important;
}
.slide--home__slider--menu--productos--hidden {
  width: 5.2% !important;
}
