.imageElement--home__image:hover {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
  transition: all 0.5s ease-in-out;
}

.autoCompleteOuterContainer {
  height: 18px;
}
.searchBarContainer {
  border: none;
  width: auto;
  padding-top: 0px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 30px;
  border: none;
  height: 25px;
  padding-top: 2px;
  padding-bottom: 5px;
}
.searchBarContainer :global(.vtex-input__suffix) {
  height: 18px;
  border: none;
  background-color: transparent;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}
.searchIcon {
  color: #a8a8a8;
}

.logoContainer--logoHeader {
  position: relative;
  width: 55px;
  height: 55px;
  display: block;
  overflow: hidden;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 55px;
  min-width: 55px;
}
.logoContainer--logoHeader :hover {
  left: 0;
  transition: all 0.2s ease-in-out;
}
.logoImage--logoHeader {
  position: absolute;
  width: 112px;
  left: -55px;
  transition: all 0.2s ease-in-out;
  max-width: 110px;
}

.vtex-store-components-3-x-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}
.imageElement--footer__payments--images {
  padding-right: 8px;
}
.imageElement--visa--img-hidden {
  visibility: hidden;
  padding: 0px 20px;
  width: 33%;
}
.headerRowContentContainer--header__drawerContainer--bottom {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.headerRowContainer--header__drawerContainer--bottom {
  padding-left: 0px !important;
}
.imageElement--header__logo--headersecond {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}
.searchBarIcon--search {
  padding-top: 8px;
}
/* body {
  background-color: #f5f5f5;
} */
.infoCardImage--info-card-example {
  max-width: 40px;
  height: 40px;
}
.infoCardHeadline--info-card-example {
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  padding: 0;
  margin: 0 0 8px;
}

.infoCardSubhead--info-card-example {
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  padding: 0;
  margin: 0;
}
.infoCardTextContainer--info-card-example {
  display: flex;
  align-items: flex-start;
}

.infoCardImageContainer--info-card-example {
  display: flex;
  justify-content: center;
  width: fit-content;
}
.infoCardContainer--info-card-example {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.bg-base {
  background-color: #f5f5f5 !important;
}
.vtex-store__template {
  background-color: #f5f5f5 !important;
}
.imageElement--images_estrella {
  width: 100%;
  height: 100%;
}

.infoCardImage--info-card-example-mobile {
  max-width: 40px;
  height: 40px;
}
.infoCardHeadline--info-card-example-mobile {
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  padding: 0;
  margin: 0 0 8px;
}

.infoCardSubhead--info-card-example-mobile {
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  padding: 0;
  margin: 0;
}
.infoCardTextContainer--info-card-example-mobile {
  display: flex;
  align-items: flex-start;
}

.infoCardImageContainer--info-card-example-mobile {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding-right: 5%;
}
.infoCardContainer--info-card-example-mobile {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.skuSelectorName {
  font-size: 19px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}
.buyButtonText--boton-compra {
  font-size: 0;
}
.buyButtonText--boton-compra::before {
  content: "Comprar ahora";
  display: block;
  font-size: 1rem;
}
.productDescriptionTitle {
  font-size: 24.5px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}
.productDescriptionText {
  color: #1c1c1c;
  font-size: 85%;
  font-weight: 400;
}
.specificationsTitle {
  font-size: 24.5px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}
.price_listPriceLabel {
  display: none;
}
.price_sellingPriceLabel {
  display: none;
}
.specificationItemProperty {
  font-size: 19px;
  text-align: left;
  color: #1c1c1c;
}
.logoLink--logoHeader {
  margin-left: 4%;
}
.productImagesGallerySwiperContainer--product-images {
  display: none;
}
.productImagesContainer--product-images--carousel {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}
.productImagesThumb--product-images {
  height: 400px !important;
  width: 33% !important;
}
.carouselGaleryThumbs--product-images .swiper-wrapper {
  justify-content: space-between !important;
}
.portalWrapper--header-search-bar :global(.vtex-search-2-x-biggy-autocomplete) {
  width: 80%;
  max-width: 1226px;
  margin: 20px auto;
  display: flex;
  position: static;
}
.portalWrapper--header-search-bar
  :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
}
.portalwrapper--header-search-bar
  :global(.vtex-search-2-x-history-and-top-wrapper) {
  flex-direction: row-reverse;
}
