.flexRow--Contenedor-info--general-description {
  margin   : 60px auto;
  max-width: 1260px;
  width    : 100%;
}

.flexRow--Contenedor-info--general,
.flexRow--Contenedor-miga-pan {
  margin   : 0 auto;
  max-width: 1260px;
  width    : 100%;
}

.flexRowContent--Contenedor-info--general-mobile {
  padding-top: 10px;
}

.flexCol--contenedor-info--data {
  padding-left: 30px;
}

.flexColChild--contenedor-info--data {
  height: min-content !important;
}

.flexRowContent--product-precio--rating {
  align-items: center;
}

.flexRowContent--product-precio--rating :global(.vtex-reviews-and-ratings-3-x-star--empty),
.flexRowContent--product-precio--rating :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews),
.flexRowContent--product-precio--rating-mobile :global(.vtex-reviews-and-ratings-3-x-star--empty),
.flexRowContent--product-precio--rating.mobile :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  color: #ff6900;
}

.flexRow--product-precio--rating {
  padding: 20px 0;
}

.flexRowContent--product-precio--rating-mobile :global(.vtex-reviews-and-ratings-3-x-summaryContainer),
.flexColChild--calificacion-producto {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
}

.flexRowContent--product-precio--rating-mobile :global(.vtex-store-components-3-x-price_sellingPrice) {
  font-size     : 19px !important;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : left;
  color         : #ff6900;
}

.flexRowContent--product-precio--rating-mobile :global(.vtex-reviews-and-ratings-3-x-star--filled),
.flexRowContent--product-precio--rating :global(.vtex-reviews-and-ratings-3-x-star--filled),
.flexRowContent--product-precio--rating-mobile :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  color: #ff6900;
}

.flexColChild--calificacion-producto :global(.vtex-reviews-and-ratings-3-x-summaryContainer) {
  margin: 0;
}

.flexRowContent--Container-politicas-producto {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-flow      : row wrap;
  border-top     : 1px solid #b0b0b0;
  border-bottom  : 1px solid #b0b0b0;
  padding        : 15px 0;
  margin         : 0;
}

.flexRowContent--totals-pdp {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.flexColChild--price-pdp :global(.vtex-store-components-3-x-price_sellingPriceContainer) {
  font-size     : 37px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : right;
  color         : #ff6900;
}

.flexCol--price-pdp :global(.vtex-store-components-3-x-price_listPriceContainer) {
  display        : flex;
  font-size      : 23px;
  font-weight    : 400;
  font-stretch   : normal;
  font-style     : normal;
  letter-spacing : normal;
  text-align     : right;
  color          : rgba(66, 66, 66, 0.5);
  text-decoration: line-through;
  justify-content: flex-end;
}

.flexRow--Container-bottom {
  margin: 20px 0;
}

.flexRowContent--Container-bottom :global(.vtex-button) {
  background-color: #f66602;
  border-color    : #f66602;
}

.flexRow--Contenedor-info--general-mobile {
  margin-top: 20px;
}

.flexColChild--Contenedor-imagenes {
  padding-right: 2rem;
}

.flexRowContent--Contenedor-info--general-mobile .flexCol--contenedor-info--data {
  padding: 0;
}

.flexRowContent--Contenedor-info--general-mobile .flexColChild--Contenedor-imagenes {
  padding-right: 0;
}

.flexRow--Contenedor-info--general-mobile :global(.vtex-store-components-3-x-productBrand--nombre-producto) {
  font-size: 30px;
}

.flexRow--Contenedor-info--general-mobile :global(.vtex-store-components-3-x-price_sellingPrice--price-primary-pdp) {
  font-size: 37px !important;
}