.brandName--product-summary--name {
  font-size     : 13px;
  font-weight   : 700;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : center;
  color         : #1c1c1c;
  padding       : 0 5px;
}

.nameContainer--product-summary--name {
  padding: 0;
}

.installmentContainer--HomeDatatricks {
  display: none;
}

.listPriceContainer--HomeDatatricks {
  display: none;
}

.sellingPrice--HomeDatatricks {
  font-size     : 15.5px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : center;
  color         : #ff6700;
}

.price_sellingPriceLabel--HomeDatatricks {
  display: none;
}