.flexColChild--imgContainerBoxOfertas--home:hover{
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
    transition: all .5s ease-in-out;
}
.flexColChild--imgContainerBoxOfertas--home{
    height:95% !important;
}
.flexColChild--BannerContainer--home:hover{
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 51%);
    transition: all .5s ease-in-out;
}