.paragraph--section__one--title {
  color: #a8a8a8;
  margin: 0px 0px 0px 50px;
  font-size: 11.5px;
}

.container--home__titles::before {
  content: " ";
  width: 100%;
  min-width: 25%;
  background-color: #1c1c1c;
  height: 2px;
  margin: auto;
}
.container--home__titles::after {
  content: " ";
  width: 100%;
  min-width: 25%;
  background-color: #1c1c1c;
  height: 2px;
  margin: auto;
}
.container--home__titles {
  font-size: 25px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  text-transform: uppercase;
  width: 100%;
}

.paragraph--home__titles {
  text-align: center;
  width: max-content;
  white-space: nowrap;
  text-align: center;
  margin: 0 22px;
}
.paragraph--footer-menu-item-tel {
  color: #a8a8a8;
  font-family: ProximaNova, Arial, Sans-serif;
  text-transform: none;
  font-size: 23px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  padding: 0;
  margin: 0;
}
.paragraph--footer-menu-item {
  margin: 0;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
}
.paragraph--footer-menu-button {
  border: 1px solid #a8a8a8 !important;
  font-size: 10.5px;
  line-height: 1.33;
  padding: 15px;
  margin: 10px 0;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: #a8a8a8;
  font-weight: 800;
}

.paragraph--footer-credits {
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
  margin-top: 29px;
}
.container--footer-menu__item-tel--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}
.container--footer__menu-button--mobile {
  justify-content: center;
}
.container--footer__menu-item--mobile {
  margin: 0;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  justify-content: center;
  color: #a8a8a8;
}
.wrapper--footer__menu-button--mobile {
  border: 1px solid #a8a8a8;
  font-size: 10.5px;
  padding: 2px 15px;
  margin: 10px 0;
  text-decoration: none;
}
.paragraph--footer-menu__item-tel--mobile {
  line-height: 0px;
  font-weight: 900;
  color: #a8a8a8;
  font-family: ProximaNova, Arial, Sans-serif;
  text-transform: none;
  font-size: 23px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.paragraph--footer__menu-item--mobile {
  line-height: 0px;
}
.paragraph--footer--title-soporte {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
  font-size: 13px;
  line-height: 1.35;
}
.paragraph--footer__title--section-socialNetworks {
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
  font-size: 13px;
  line-height: 1.35;
}
.flexRow--footer__container--social-facebook {
  width: fit-content;
}
.paragraph--text-title--instagram {
  margin: 0px;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
  padding: 4px 0px;
}
.paragraph--text-title--facebook {
  margin: 0px;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #a8a8a8;
  padding: 4px 0px;
}

.container--title--slider-products {
  margin: 0 auto;
  max-width: 1400px;
  justify-content: center;
  margin-top: 15px;
}
.paragraph--title--slider-products {
  font-size: 25px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
}
.container--title--slider-products::after {
  content: " ";
  width: 50%;
  min-width: 25%;
  background-color: #1c1c1c;
  height: 2px;
  margin: auto;
  text-align: center;
}
.container--title--slider-products::before {
  content: " ";
  width: 50%;
  min-width: 25%;
  background-color: #1c1c1c;
  height: 2px;
  margin: auto;
  text-align: center;
}

.wrapper--title--slider-products {
  width: max-content;
  white-space: nowrap;
  text-align: center;
  margin: 0 15px;
}

.container--title-collage-productos-estrellas::before {
  content: " ";
  width: 100%;
  min-width: 25%;
  background-color: #1c1c1c;
  height: 2px;
  margin: auto;
}
.container--title-collage-productos-estrellas::after {
  content: " ";
  width: 100%;
  min-width: 25%;
  background-color: #1c1c1c;
  height: 2px;
  margin: auto;
}

.paragraph--title-collage-productos-estrellas {
  font-size: 25px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  text-transform: uppercase;
}

.wrapper--title-collage-productos-estrellas {
  width: max-content;
  white-space: nowrap;
  text-align: center;
  margin: 0 22px;
}
.container--title--slider-products-mobile {
  justify-content: center;
}
.paragraph--title--slider-products-mobile {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  font-size: 18px;
  white-space: normal;
  justify-content: center;
}
.container--title-collage-productos-estrellas-mobile {
  justify-content: center;
  margin-top: 7%;
}
.wrapper--title-collage-productos-estrellas-mobile {
  width: max-content;
  white-space: nowrap;
  text-align: center;
  margin: 0 22px;
}
.paragraph--title-collage-productos-estrellas-mobile {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  font-size: 18px;
  white-space: normal;
  justify-content: center;
}
.container--footer-credits {
  padding-bottom: 10px;
}
.container--Text--banner__section-one {
  width: 100%;
  height: 250px;
  background: #ff6900;
  color: #f5f5f5;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--subtitulo1--section-dos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #1c1c1c;
}
.paragraph--texto1Politicas {
  font-size: 14px;
  color: #1c1c1c;
}
.paragraph--texto1Politicas :global(.vtex-rich-text-0-x-link--texto1Politicas) {
  color: #ff6900;
  font-size: 14px;
  font-weight: 100 !important;
}
