.installmentContainer--header--product-price {
  display: none;
}

.listPriceContainer--header--product-price {
  display: none;
}

.sellingPriceLabel--header--product-price {
  display: none;
}

.sellingPrice--header--product-price {
  font-size     : 15.5px;
  font-weight   : 400;
  font-stretch  : normal;
  font-style    : normal;
  letter-spacing: normal;
  text-align    : center;
  color         : #ff6700;
}

.installmentContainer--header--product-price-mobile {
  display: none;
}