.headerRowBackground--header-layout--containert {
  background-color: #1c1c1c;
}

.headerRowBackground--header-layout--containert .profileIcon {
  background-color: #1c1c1c;
  border          : solid red 1px;
}

.headerRowContainer--header-layout--containert--mobile {
  height: 20px !important;
}

.headerRowBackground--header-layout--containert--mobile {
  background-color: #1c1c1c;
}

.headerRowContainer--header-layout--containert :global(.vtex-login-2-x-profileIcon) {
  display: none;
}

.headerRowContainer--header-layout--containert :global(.vtex-minicart-2-x-minicartIconContainer)::before {
  content    : "CARRITO";
  display    : flex;
  align-items: center;
}

.headerRowContainer--header-layout--containert :global(.vtex-minicart-2-x-minicartQuantityBadge) {
  background-color: transparent;
  top             : unset;
  right           : unset;
  position        : relative;
  top             : unset !important;
  right           : unset !important;
  padding         : 0 5px;
  margin          : 0;
  color           : #a8a8a8;
  padding-bottom  : 3px;
}

.headerRowContainer--header-layout--containert :global(.vtex-minicart-2-x-minicartQuantityBadge)::after {
  content     : " )";
  padding-left: 3px;
  display     : block;
}

.headerRowContainer--header-layout--containert :global(.vtex-minicart-2-x-minicartQuantityBadge)::before {
  content      : "( ";
  padding-right: 3px;
  display      : block;
}

.headerRowContainer--header-layout--containert :global(.vtex-minicart-2-x-minicartIconContainer) {
  display  : flex;
  font-size: 11.5px;
  flex-wrap: nowrap;
}

.headerRowBackground--header-layout--containert :global(.vtex-minicart-2-x-cartIcon) {
  display: none;
}

.headerRow--row1--logo {
  max-width: 1260px;
  margin   : 0 auto;
  width    : 100%;
}

.headerRowContainer {
  height: 37px;
}

.headerRowContainer--row1--logo {
  margin: 10px 0px 0px 0px;
}

.headerRowBackground--row1--logo {
  /* position: absolute;
    z-index: 999;
    padding-top: 15px;
    width: 90%;
    background-color: transparent;
    margin-left: 90px; */
  padding         : 0 25px !important;
  width           : 100%;
  z-index         : 9;
  background-color: transparent !important;
  margin          : 0 auto -88px;
  position        : absolute;
  top             : 0;
  left            : 0;
  margin-top      : 50px !important;
}

.headerRowContainer--header__drawerContainer--bottom :global(.vtex-styleguide-9-x-input) {
  display: none;
}

.headerRowContainer--header__drawerContainer--bottom {
  background-color: #fff;
  justify-content : space-around;
  align-items     : center;
  height          : 50px;
}

.headerStickyRow--header__drawerContainer--bottom {
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  background-color: white;
  border-top      : 1px solid #555;
  z-index         : 1000;
}

.headerRowContainer--header--container-logo {
  width          : 120px;
  max-width      : 120px;
  height         : auto;
  justify-content: center;
  padding        : 0;
  display        : flex;
  align-items    : center;
}

.headerRowContentContainer--header--container-logo {
  justify-content: center;
}

.headerRowContainer--header--container-logo :global(.vtex-store-components-3-x-logoImage--logoHeader) {
  position  : absolute;
  width     : 74px;
  left      : -37px;
  transition: all 0.2s ease-in-out;
  max-width : 110px;
  height    : 40px;
}

.headerRowContainer--header-layout--containert--mobile :global(.vtex-rich-text-0-x-paragraph--section__one--title) {
  margin: 0;
}

.headerStickyRow--header--container-logo {
  box-shadow: 0 4px 5px rgb(0 0 0 / 90%);
}

.headerRowContentContainer--header__drawerContainer--bottom {
  padding-right: 0px !important;
  padding-left : 0px !important;
}

.headerRowContainer--header__drawerContainer--bottom {
  padding-left: 0px !important;
}