.closeIcon--menu-drawer--mobile {
  color: transparent !important;
}

.closeIconButton::before {
  content       : "Cerrar";
  font-family   : Proxima Nova;
  font-weight   : 500;
  text-transform: none;
  letter-spacing: 0;
  font-size     : 32px;
  color         : #ff6900;
}

.drawerContent--menu-drawer--mobile {
  flex-flow: column-reverse nowrap;
  display  : flex;
  height   : calc(100% - 70px);
}

.drawer--menu-drawer-mobile {
  width         : 100%;
  max-width     : 450px;
  min-width     : 280px;
  pointer-events: auto;
  transform     : translate3d(0%, 0px, 0px);
}

.drawer--search-drawer-mobile {
  top   : 40%;
  height: 60%;
}

.childrenContainer--search-drawer-mobile {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.drawerContent--search-drawer-mobile {
  flex-flow: column-reverse nowrap;
  display  : flex;
  height   : calc(100% - 70px);
}

.closeIcon--search-drawer-mobile {
  visibility: hidden;
}