.link--texto-ver-mas {
  font-size      : 15px;
  font-weight    : 400;
  font-stretch   : normal;
  font-style     : normal;
  line-height    : 1.33;
  letter-spacing : normal;
  text-align     : left;
  color          : #1c1c1c !important;
  text-decoration: none;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  margin-top     : 90px;
}

.link--texto-ver-mas::before {
  content          : "";
  background-image : url("https://xiaomicolombia.vteximg.com.br/arquivos/menu-more-flecha.png");
  background-repeat: no-repeat;
  background-size  : 98%;
  top              : calc(40% - 40px);
  width            : 50px;
  position         : absolute;
  height           : 50px;
  margin-top       : 20px;
}

.paragraph--section__one--title {
  margin: 0;
}

.paragraph--section__one--title {
  color    : #a8a8a8;
  margin   : 0px 0px 0px 50px;
  font-size: 11.5px;
}