.flexRow--Container-slider-product {
  width    : 100%;
  max-width: 1226px !important;
  margin   : 0 auto;
  display  : flex;
}

.flexRow--Container-slider-product-mobile {
  display: contents;
}

.flexCol--contenedor-menu-mas {
  display    : flex;
  align-items: center;
}

.flexColChild--contenedor-menu-mas {
  display    : flex;
  align-items: center;
}