.sliderLayoutContainer--home__slider {
  max-width: 100%;
  margin: 0 auto 30px;
}
.paginationDotsContainer--home__slider {
  transform: translateY(30px);
  display: none;
}
.imageElement--home__slider{
    max-height: initial !important;
}
